.circle {
  position: relative;
  -moz-border-radius: 880px/880px;
  -webkit-border-radius: 880px 880px;
  border-radius: 880px/880px;
  border: 0px;
  width: 880px;
  height: 580px;
}

.yarn {
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  display: inline-block;
  border-style: 30px solid black;
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

#yarn-1 {
  background-image: url("yarn-1.png");
  left: 0;
  margin-top: 120px;
  margin-left: 20px;
}
#yarn-2 {
  background-image: url("yarn-2.png");
  right: 0;
  margin-top: 120px;
  margin-right: 20px;
}

video {
  position: absolute;
  height: 360px;
  width: 360px;
  display: inline-block;
}

.center {
  position: absolute;
  top: 0;
  margin-top: 400px;
  left: 0;
  margin-left: 400px;
  display: inline-block;
}

#join {
  font-size: 30px;
}

#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
  display: none;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
}

#canvas {
  display:none;
}

.camera {
  width: 340px;
  display:inline-block;
}

.output {
  width: 340px;
  display:inline-block;
  vertical-align: top;
}

#startbutton {
  display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  bottom:32px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}